@import "styles/fonts";

:root {
  letter-spacing: 0.65px;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
}

* {
  box-sizing: border-box;
}

#__next {
  width: 100%;
  min-height: 100vh;
  background: url(/bg.png) no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}
