@import "styles/fonts";

:root {
  letter-spacing: 0.65px;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
}

* {
  box-sizing: border-box;
}

#__next {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(39.03deg, #E56C70 3.53%, #F8D49E 97.44%);
  background-size: cover;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}
